/* Give your page a fun background color */
body {background-color: olivedrab;}
/* Make the header and footer a different color from the background */
header {color: black;}
footer {color: black;}
/* Align the h1 containing your name in the center of the header*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: darkred;
    font-style: italic;
}
/* Put a border around your image */

img {
    border-color: darkred;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    width: 25%;
    height: 25%;
}
/* Change the font-family of your list */
li {
    font-family: Arial, Helvetica, sans-serif;
}